<launch>
	<node name="node15" output="screen" pkg="research-dag-analysis" type="node15">
		<rosparam param="parent_idx">[]</rosparam>
		<rosparam param="child_idx">[13]</rosparam>
		<param name="default_waste_time" value="0.21" />
		<param name="callback_waste_time" value="35.79" />
		<param name="period" value="1000.0" />
	</node>
	<node name="node14" output="screen" pkg="research-dag-analysis" type="node14">
		<rosparam param="parent_idx">[14]</rosparam>
		<rosparam param="child_idx">[11, 12, 9, 7, 5, 3]</rosparam>
		<param name="default_waste_time" value="0.13" />
		<param name="callback_waste_time" value="23.87" />
		<param name="period" value="0.4" />
	</node>
	<node name="node12" output="screen" pkg="research-dag-analysis" type="node12">
		<rosparam param="parent_idx">[13]</rosparam>
		<rosparam param="child_idx">[8, 6]</rosparam>
		<param name="default_waste_time" value="0.16" />
		<param name="callback_waste_time" value="31.84" />
		<param name="period" value="100.0" />
	</node>
	<node name="node13" output="screen" pkg="research-dag-analysis" type="node13">
		<rosparam param="parent_idx">[13]</rosparam>
		<rosparam param="child_idx">[10, 2]</rosparam>
		<param name="default_waste_time" value="0.04" />
		<param name="callback_waste_time" value="5.96" />
		<param name="period" value="0.2" />
	</node>
	<node name="node10" output="screen" pkg="research-dag-analysis" type="node10">
		<rosparam param="parent_idx">[13]</rosparam>
		<rosparam param="child_idx">[6]</rosparam>
		<param name="default_waste_time" value="0.1" />
		<param name="callback_waste_time" value="4.9" />
		<param name="period" value="100.0" />
	</node>
	<node name="node8" output="screen" pkg="research-dag-analysis" type="node8">
		<rosparam param="parent_idx">[13]</rosparam>
		<rosparam param="child_idx">[2]</rosparam>
		<param name="default_waste_time" value="0.3" />
		<param name="callback_waste_time" value="29.7" />
		<param name="period" value="100.0" />
	</node>
	<node name="node11" output="screen" pkg="research-dag-analysis" type="node11">
		<rosparam param="parent_idx">[12]</rosparam>
		<rosparam param="child_idx">[6]</rosparam>
		<param name="default_waste_time" value="0.3" />
		<param name="callback_waste_time" value="28.7" />
		<param name="period" value="0.7" />
	</node>
	<node name="node9" output="screen" pkg="research-dag-analysis" type="node9">
		<rosparam param="parent_idx">[11]</rosparam>
		<rosparam param="child_idx">[4, 1]</rosparam>
		<param name="default_waste_time" value="0.25" />
		<param name="callback_waste_time" value="11.75" />
		<param name="period" value="100.0" />
	</node>
	<node name="node6" output="screen" pkg="research-dag-analysis" type="node6">
		<rosparam param="parent_idx">[13]</rosparam>
		<rosparam param="child_idx">[1]</rosparam>
		<param name="default_waste_time" value="0.25" />
		<param name="callback_waste_time" value="5.75" />
		<param name="period" value="100.0" />
	</node>
	<node name="node7" output="screen" pkg="research-dag-analysis" type="node7">
		<rosparam param="parent_idx">[11, 9, 10]</rosparam>
		<rosparam param="child_idx">[2]</rosparam>
		<param name="default_waste_time" value="0.09" />
		<param name="callback_waste_time" value="8.91" />
		<param name="period" value="0.4" />
	</node>
	<node name="node5" output="screen" pkg="research-dag-analysis" type="node5">
		<rosparam param="parent_idx">[8]</rosparam>
		<rosparam param="child_idx">[1]</rosparam>
		<param name="default_waste_time" value="0.09" />
		<param name="callback_waste_time" value="4.91" />
		<param name="period" value="100.0" />
	</node>
	<node name="node4" output="screen" pkg="research-dag-analysis" type="node4">
		<rosparam param="parent_idx">[13]</rosparam>
		<rosparam param="child_idx">[0]</rosparam>
		<param name="default_waste_time" value="0.1" />
		<param name="callback_waste_time" value="30.9" />
		<param name="period" value="100.0" />
	</node>
	<node name="node2" output="screen" pkg="research-dag-analysis" type="node2">
		<rosparam param="parent_idx">[8, 5, 4]</rosparam>
		<rosparam param="child_idx">[0]</rosparam>
		<param name="default_waste_time" value="0.12" />
		<param name="callback_waste_time" value="9.88" />
		<param name="period" value="100.0" />
	</node>
	<node name="node3" output="screen" pkg="research-dag-analysis" type="node3">
		<rosparam param="parent_idx">[12, 7, 6]</rosparam>
		<rosparam param="child_idx">[0]</rosparam>
		<param name="default_waste_time" value="0.09" />
		<param name="callback_waste_time" value="22.91" />
		<param name="period" value="0.4" />
	</node>
	<node name="node1" output="screen" pkg="research-dag-analysis" type="node1">
		<rosparam param="parent_idx">[3, 1, 2]</rosparam>
		<rosparam param="child_idx">[]</rosparam>
		<param name="default_waste_time" value="0.29" />
		<param name="callback_waste_time" value="1.71" />
		<param name="period" value="0.7" />
	</node>
</launch>