<launch>
	<node name="node6" output="screen" pkg="research-dag-analysis" type="node6">
		<rosparam param="parent_idx">[]</rosparam>
		<rosparam param="child_idx">[15, 14, 4, 13]</rosparam>
		<param name="default_waste_time" value="0.29" />
		<param name="callback_waste_time" value="21.71" />
		<param name="period" value="100" />
	</node>
	<node name="node16" output="screen" pkg="research-dag-analysis" type="node16">
		<rosparam param="parent_idx">[5]</rosparam>
		<rosparam param="child_idx">[1]</rosparam>
		<param name="default_waste_time" value="0.3" />
		<param name="callback_waste_time" value="25.7" />
		<param name="period" value="100" />
	</node>
	<node name="node15" output="screen" pkg="research-dag-analysis" type="node15">
		<rosparam param="parent_idx">[5]</rosparam>
		<rosparam param="child_idx">[11]</rosparam>
		<param name="default_waste_time" value="0.04" />
		<param name="callback_waste_time" value="2.96" />
		<param name="period" value="100" />
	</node>
	<node name="node5" output="screen" pkg="research-dag-analysis" type="node5">
		<rosparam param="parent_idx">[5]</rosparam>
		<rosparam param="child_idx">[3, 9]</rosparam>
		<param name="default_waste_time" value="0.28" />
		<param name="callback_waste_time" value="35.72" />
		<param name="period" value="100" />
	</node>
	<node name="node14" output="screen" pkg="research-dag-analysis" type="node14">
		<rosparam param="parent_idx">[5]</rosparam>
		<rosparam param="child_idx">[12, 1]</rosparam>
		<param name="default_waste_time" value="0.07" />
		<param name="callback_waste_time" value="37.93" />
		<param name="period" value="100" />
	</node>
	<node name="node13" output="screen" pkg="research-dag-analysis" type="node13">
		<rosparam param="parent_idx">[13]</rosparam>
		<rosparam param="child_idx">[6]</rosparam>
		<param name="default_waste_time" value="0.16" />
		<param name="callback_waste_time" value="4.84" />
		<param name="period" value="100" />
	</node>
	<node name="node12" output="screen" pkg="research-dag-analysis" type="node12">
		<rosparam param="parent_idx">[14]</rosparam>
		<rosparam param="child_idx">[10, 8, 7]</rosparam>
		<param name="default_waste_time" value="0.17" />
		<param name="callback_waste_time" value="13.83" />
		<param name="period" value="100" />
	</node>
	<node name="node4" output="screen" pkg="research-dag-analysis" type="node4">
		<rosparam param="parent_idx">[4]</rosparam>
		<rosparam param="child_idx">[2]</rosparam>
		<param name="default_waste_time" value="0.15" />
		<param name="callback_waste_time" value="14.85" />
		<param name="period" value="100" />
	</node>
	<node name="node3" output="screen" pkg="research-dag-analysis" type="node3">
		<rosparam param="parent_idx">[3]</rosparam>
		<rosparam param="child_idx">[1]</rosparam>
		<param name="default_waste_time" value="0.28" />
		<param name="callback_waste_time" value="20.72" />
		<param name="period" value="100" />
	</node>
	<node name="node11" output="screen" pkg="research-dag-analysis" type="node11">
		<rosparam param="parent_idx">[11]</rosparam>
		<rosparam param="child_idx">[8]</rosparam>
		<param name="default_waste_time" value="0.28" />
		<param name="callback_waste_time" value="32.72" />
		<param name="period" value="100" />
	</node>
	<node name="node10" output="screen" pkg="research-dag-analysis" type="node10">
		<rosparam param="parent_idx">[4]</rosparam>
		<rosparam param="child_idx">[1]</rosparam>
		<param name="default_waste_time" value="0.25" />
		<param name="callback_waste_time" value="17.75" />
		<param name="period" value="100" />
	</node>
	<node name="node9" output="screen" pkg="research-dag-analysis" type="node9">
		<rosparam param="parent_idx">[11, 10]</rosparam>
		<rosparam param="child_idx">[0]</rosparam>
		<param name="default_waste_time" value="0.14" />
		<param name="callback_waste_time" value="32.86" />
		<param name="period" value="100" />
	</node>
	<node name="node8" output="screen" pkg="research-dag-analysis" type="node8">
		<rosparam param="parent_idx">[11]</rosparam>
		<rosparam param="child_idx">[0]</rosparam>
		<param name="default_waste_time" value="0.02" />
		<param name="callback_waste_time" value="30.98" />
		<param name="period" value="100" />
	</node>
	<node name="node7" output="screen" pkg="research-dag-analysis" type="node7">
		<rosparam param="parent_idx">[12]</rosparam>
		<rosparam param="child_idx">[0]</rosparam>
		<param name="default_waste_time" value="0.04" />
		<param name="callback_waste_time" value="4.96" />
		<param name="period" value="100" />
	</node>
	<node name="node2" output="screen" pkg="research-dag-analysis" type="node2">
		<rosparam param="parent_idx">[13, 15, 2, 9]</rosparam>
		<rosparam param="child_idx">[0]</rosparam>
		<param name="default_waste_time" value="0.3" />
		<param name="callback_waste_time" value="21.7" />
		<param name="period" value="100" />
	</node>
	<node name="node1" output="screen" pkg="research-dag-analysis" type="node1">
		<rosparam param="parent_idx">[8, 7, 6, 1]</rosparam>
		<rosparam param="child_idx">[]</rosparam>
		<param name="default_waste_time" value="0.3" />
		<param name="callback_waste_time" value="29.7" />
		<param name="period" value="100" />
	</node>
</launch>